:root {
  --primary-color: #125c13;
  --secondary-color: #ffb55c;
  --accent-color: #3e7c17;
  --pale-grey-color: #e8e1d9;
  --gradient-base: rgba(255, 255, 255, 0.288);
  --grad-accent: #ffd9aa93;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Zen Kurenaido', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
p {
  margin: 0;
}

.hidden {
  position: absolute;
  font-size: 0;
}
